[Unit]
Description=Demonize the bizmate backend

[Service]
Type=simple
ExecStart=/home/ubuntu/app/backend
Restart=always
RestartSec=5s
EnvironmentFile=/home/ubuntu/app/.env.local

[Install]
WantedBy=multi-user.target
