@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-track {
	background: white;
}
*::-webkit-scrollbar-thumb {
	background-color: lightgray;
	border-radius: 20px;
}

.hide-scrollbar::-webkit-scrollbar {
	height: 0;
	width: 0;
}

@view-transition {
	navigation: auto;
}
