@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
*::-webkit-scrollbar-track {
	background: white;
}
*::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 20px;
	border: 2px solid white;
}

a.blockbuilder-branding {
	display: none !important;
}

a[href^="https://unlayer.com/"]
{
	display: none !important;
}
