{
  "arrowParens": "always",
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "quoteProps": "preserve",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
